.card {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}

.card.product {
  background-color: #fff;
}

.card.auction {
  background-color: #f6f6f6;
}

.card-img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-link {
  color: #6c757d;
  text-decoration: none;
}

.card-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #6c757d;
}

.card-description {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}

.card-price-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #212529;
}

.card-likes {
  display: flex;
  align-items: center;
  color: #6c757d;
}

.card-likes.liked {
  color: #e74c3c;
}

.card-likes svg {
  margin-right: 5px;
}

.card-likes span {
  margin-left: 5px;
}

.card-auction-details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-auction-details span {
  margin-right: 10px;
  font-size: 16px;
  color: #6c757d;
}
