.card {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 16px;
  align-items: center;
  cursor: pointer;
}

.card.product {
  background-color: #fff;
}

.card.auction {
  background-color: #f6f6f6;
}

.card-img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-link {
  color: #6c757d;
  text-decoration: none;
}

.card-price {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #6c757d;
}

.card-description {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}

.card-price-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #212529;
}

.card-likes {
  display: flex;
  align-items: center;
  color: #6c757d;
}

.card-likes.liked {
  color: #e74c3c;
}

.card-likes svg {
  margin-right: 5px;
}

.card-likes span {
  margin-left: 5px;
}

.card-auction-details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-auction-details span {
  margin-right: 10px;
  font-size: 16px;
  color: #6c757d;
}

@media only screen and (max-width: 767px) {
  .card {
    flex-direction: column;
    padding: 0 0 8px 0;
    border-radius: 24;
    align-items: flex-start;
  }
  
  .card-img {
    width: 100%;
    max-height: 160px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .card-info {
    padding: 0 8px;
    width: 100%;
    text-align: left;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .card-description {
    font-size: 14px;
    max-height: initial;
    margin-bottom: 5px;
  }
  
  .card-price-likes {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .card-price {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .card-likes {
    margin-top: 5px;
  }
}
