.all-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.filters h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.filter-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.filter-type,
.filter-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.category-button,
.filter-type button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.category-button.selected,
.filter-type button.selected {
  background-color: #929496;
  color: #fff;
  border-color: #929496;
}

.category-button:hover,
.filter-type button:hover {
  background-color: #929496;
  color: #fff;
  border-color: #929496;
}

.filter-button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

.filter-button:hover {
  background-color: #ccc;
  color: white;
}

.filter-button.selected {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}


@media screen and (max-width: 767px) {
  .category-button,
  .filter-type button {
    font-size: 0.8rem;
    padding: 0.3rem 0.4rem;
  }
}