.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control,
  select,
  textarea,
  input[type="file"] {
    border-radius: 16px;
    border: 1px solid #ced4da;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  select[multiple],
  textarea {
    height: auto;
  }
  

  